.el-table-ts {
  .el-pagination {
    text-align: right;
    margin-top: 4px;
  }
  .el-pagination__slot {
    float: right;
    padding: 2px 5px;
    font-weight: 400;
    color: #606266;
    font-size: 13px;
  }
}

